.indian-red {
  color: #e27d60;
}

.indian-red-bg {
  background-color: #e27d60;
}

.candy-teal {
  color: #84cdca;
}

.candy-teal-bg {
  background-color: #84cdca;
}

.sand-orange {
  color: #e8a87c;
}

.sand-orange-bg {
  background-color: #e8a87c;
}

.dragon-purple {
  color: #c38d9e;
}

.dragon-purple-bg {
  background-color: #c38d9e;
}

.candy-teal-hard {
  color: #41b3a3;
}

.candy-teal-hard-bg {
  background-color: #41b3a3;
}

.white {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.facebook-blue {
  color: #4064ac;
}

.facebook-blue-bg {
  background-color: #4064ac;
}

.light-blue {
  color: #1773ea;
}

.light-blue-bg {
  background-color: #1773ea;
}

.seperator {
  height: 5rem;
}
/* Note to self: no one does this */
